<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="body">
        <div class="signup-form">

                <form action="/examples/actions/confirmation.php" method="post" (ngSubmit)="submit(registerForm)" #registerForm="ngForm">
                        <h2>Register</h2>
                        <p class="hint-text">Create your account. It's free and only takes a minute.</p>
                        <div class="form-group">

                                <input type="text" class="form-control" name="userName" placeholder="User Name"
                                        required="required" [(ngModel)]="userName" #userNa="ngModel">
                                        <div *ngIf="userNa.errors && (userNa.dirty || userNa.touched)" class="alert alert-danger">
                                                <small>User name is required </small>
                                              </div>
                        </div>
                        <div class="form-group">
                                <input type="email" class="form-control" name="userEmail" placeholder="Email"
                                        required="required" [(ngModel)]="userEmail" #userEmailAd="ngModel">
                                        <div *ngIf="userEmailAd.errors && (userEmailAd.dirty || userEmailAd.touched)" class="alert alert-danger">
                                                <small>Email address is required </small>
                                              </div>
                        </div>
                        <div class="form-group">
                                <input type="password" class="form-control" name="userPassword" placeholder="Password"
                                        required="required" [(ngModel)]="userPassword"  #userPass="ngModel">
                                        <div *ngIf="userPass.errors && (userPass.dirty || userPass.touched)" class="alert alert-danger">
                                                <small>Password is required </small>
                                              </div>
                        </div>
                        <div class="form-group">
                                <input type="password" class="form-control" name="confirmUserPassword"
                                        placeholder="Confirm Password" required="required"  #userConPass="ngModel"
                                        [(ngModel)]="confirmUserPassword">
                                        <div *ngIf="userConPass.errors && (userConPass.dirty || userConPass.touched)" class="alert alert-danger">
                                                <small>Confirm Password </small>
                                              </div>
                        </div>
                        <div class="form-group">
                                <label class="form-check-label"><input type="checkbox" required="required"> I accept the
                                        <a>Terms of Use</a> &amp; <a>Privacy Policy</a></label>
                        </div>
                        <div class="form-group">
                                <button type="submit" class="btn btn-success btn-lg btn-block"
                                        [disabled]="registerForm.invalid">Register Now</button>
                        </div>
                </form>
                <div class="text-center" style="color: blue;">Already have an account? <a style="color: blue;"
                                href="/login">Sign in</a></div>
        </div>
</div>