<div class="small-container">

    <div class="container">
        <img [src]="product.image" [alt]="product.name" />
        <div class="details">
            <div class="header">
                <span class="name">
                    {{product.name}}
                </span>

            </div>
            <div class="description">
                <span>
                    {{product.description}}
                </span>

            </div>
            <div class="price">
                <span>
                    {{product.price | currency}}
                </span>

            </div>
            <button (click)="addToCart()"> Add To Cart</button>

        </div>
    </div>
</div>