

  .cartProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .cartProduct_info {
    padding-left: 20px;
    margin-top: 35px;
    display: inline-block;
  }
  
  .cartProduct_info > button {
    background: #dab0b7;
    border-radius: 10px;
    cursor: pointer;
    color: #111;
    padding: 5px;
    margin-top: 10px;
    width: 150px;
    border: 1px solid;
  }
  
  .cartProduct_info > button:hover {
    background-color: rgb(212, 170, 140);
  }
  
  .cartProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
  }
  
  .cartProduct_rating {
    display: flex;
  }
  
  .cartProduct_name {
    font-size: 17px;
    font-weight: 800;
  }

  .subtotal{
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 110px;
    padding: 20px; 
    background-color: #f3f3f3;
    border: 1px solid #dddddd; 
    border-radius: 3px;
    margin-left: 500px;
    margin-top: 100px;
    display: inline-block;

}
.subtotal > button{
    background: #dab0b7;
    border-radius: 10px;
    cursor: pointer;
    color: #111;
    padding: 5px;
    margin-top: 10px;
    width: 150px;
    border: 1px solid;
}

.subtotal > button:hover { 
    background-color: rgb(212, 170, 140);
} 


.cart_title{
    margin-right: 50px;
    padding: 10px; 
    border-bottom: 1px solid lightgray;
    text-align: center;
}